# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS generate files
[Bb]uild/
[Dd]ebug/
[Rr]elease/
*.sln
*.vcxproj*
*.user

# Mac generate files
.DS_Store
*.dSYM
